/* hermano cercano o adyacente */
/* se lee:
aplica color rojo a todos los parrafos
que se encuentren cerca de un h2 */

/* h2 + p {
    color: red;
} */

/* hermano general */
/* todos los p que tengan un hermano general,
se pintan de rojo
porque los p tienen un hermano h2 al mismo nivel */

/* h2 ~ p {
    color: red;
} */

/* hijo directo*/
/* la etiqueta p que sea hija de un div
 aplica color rojo */
/* div > p {
    color: red;
} */

/* descendiente */
/* todas las etiquetas p que esten dentro de un div */
div p {
    color: red;
}