/* desde aquí */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* para settear un rem = a 10px */
html {
    font-size: 62.5%;
}
/* hasta aquí siempre en todos los proyectos */

/* un rem siempre será de 16px */
p {
    font-size: 1.6rem;
}

main div {
    font-size: 1.6rem;
}